[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "public"]
	path = public
	url = ssh://git@ssh.github.com:443/ycrxun/ycrxun.github.io
	branch = master
